/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
$brand_white: #e6f0e9;
$brand_green: #77ad41;
$brand_grey: #3a3b3c;
$brand_light_grey: #d0d7d1;


.accordion, .accordion__drop-down,
  .accordion__bar-ul, .accordion__bar-list {
  list-style-type: none;
  padding-left: 0;
}

.accordion {
  display: flex;
  flex-direction: column;
  width: 500px;
  border: 1px $brand_grey solid;
  margin: auto;
  padding-left: 0;
  font-family: sans-serif;
  font-weight: lighter;
  background: $brand_light_grey;
}

.accordion__bar, .accordion__bar-list {
  display: flex;
  padding: 5px;
  align-items: center;
  margin: 0;
}

// HEADER ROWS //
.accordion__bar {
  flex: 1;
  height: 45px;
  margin: 0;
  padding: 10px 0;
  color: $brand_white;
  background: $brand_grey;
  border: 2px darken($brand_grey, 20%) solid;

}
.accordion__bar:hover {
  background: $brand_green;
  color: darken($brand_grey, 20%);
  box-shadow: inset 0 0 50px $brand_grey;
}

.fa, .bar__num {
  padding: 0 25px 0 10px;
}

.accordion__side-bubble {
  float: right;
  padding: 4px 10px;
  margin: 4px 15px 0 0;
  border: none;
  border-radius: 20em/18em;
  background: darken($brand_grey, 20%);
  color: $brand_white;
}
.accordion__side-bubble {
  font-size: 20px;
}



// SUBLISTS //
.accordion__bar-list {
  width: 100%;
  height: 45px;
  padding: 5px;
  list-style-type: none;
  border: 1px $brand_light_grey solid;
  background: $brand_white;
}
.bar__title {
  flex: 1;
  line-height: 2px;
  padding: 0 10px 10px 5px;
}
.bar-num {
  padding: 5px;
  line-height: 2px;
}
.bar__count {
  margin-right: 30px;
  line-height: 1rem;
  padding: 10px 20px;
  border: 1px $brand_light_grey solid;
  border-radius: 50%;
}
