/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

$brand_green: #77ad41;
$brand_grey: #7a7f82;

ul li {
  list-style-type: none;
}

.accordion {
  flex-direction: column;
  width: 500px;
  border: 2px $brand_grey solid;
  margin: auto;
  padding: 0;
}

// HEADER ROWS //
.accordion__bar {
  flex: 1;
  height: 45px;
  width: 100%;
  color: #eee;
  background: $brand_grey;
}

.fa {
  padding: 8px;
}

.accordion__side-bubble {
  float: right;
  padding: 8px;
  margin-right: 15px;
  border: none;
  border-radius: 20em/18em;
  background: darken($brand_grey, 20%);
}



// SUBLISTS //
.accordion__sublist {
  visibility: hidden;
  padding: 0;
}
