/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.keyboard-interface {
  width: 900px;
  border: 1px black solid;
  margin: auto;
  background: #e1e8ed;
}
textarea {
  width: 98%;
  height: 20rem;
  margin: 0.5rem;
  background: white;
  border-radius: 1%;
}

.keyboard {
  display: flex;
  flex-direction: column;
  height: 20em;
  bottom: 100%;
  margin: 0.5rem;
  font-family: 'Varela', sans-serif;
  background: #e1e8ed;
}
.keyboard-keys {
  display: flex;
  list-style-type: none;
  text-align: center;
  margin: 0.3rem;
  padding-left: 0;
  background: #e1e8ed;
}
.letter, .symbol,
.keys__lg, .keys__spacer {
  flex: 1;
  height: 3.2rem;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3rem;
  background: white;
  border: 1px;
  border-radius: 20%;
  margin: 0 0.1rem;
}
.keys__lg {
  flex: 2;
}
.keys__spacer {
  height: 4rem;
  border-radius: 10%;
  line-height: 3.5rem;
}
